body { font-family: "Didot"; }

#main-section {
	margin: 0 auto;
}

#main-section h1 {
	margin-left: 67px;
	font-size: 40px;
	color: #7a7a7a;
}

.mainNav {
	height: 105px;
	background-color: #790000;
}

.mainNav .navbar {
	float: right;
	font-size: 20px;
	list-style-type: none;
	margin: 43px 0 47px 0;
	padding-right: 40px;
}

li a {
	text-decoration-line: none;
	color: white;
	margin: 40px;
}

li a:hover {
	color: #7a7a7a;
}

a {
	border: 1px solid white;
}

.team1 h2 {
	text-align: center;
	font-size: 40px;
	margin: 95px auto 0 auto;
	color: #7a7a7a;
}

.team1 h3 {
	text-align: right;
	padding-right: 155px;
	font-size: 37px;
	color: #7a7a7a;
	background-position: center;
}

.team1 img {
	float: left;
	margin: 0 auto 275px 0;
	z-index: -1;
}

.team1 p {
	color: #790000;
	font-size: 30px;
	padding-top: 250px;
}

.team2 h3 {
	text-align: left;
}

.team2 img {
	float: right;
}

.team2 p {
	float: left;
	color: #790000;
	font-size: 30px;
}








