body { font-family: "Didot"; }

main { height: auto; width: auto; }

.hidden { display: none; }

.left {
	float: left;
	width: 600px;
	height: 100%;
	margin-left: 160px;
}

.right {
	float: right;
	width: 600px;
	height: 100%;
	margin-right: 30px;
}

#main-section {
	margin: 0 auto;
}

#main-section h1 {
	margin-left: 67px;
	font-size: 40px;
	color: #7a7a7a;
}

.mainNav {
	height: 105px;
	background-color: #790000;
}

.mainNav .navbar {
	float: right;
	font-size: 20px;
	list-style-type: none;
	margin: 43px 0 47px 0;
	padding-right: 40px;
}

ul li { display: inline-block; }

li a {
	text-decoration-line: none;
	color: white;
	margin: 40px;
}

li a:hover { color: #7a7a7a; }

a { border: 1px solid white; }

h2 {
	text-align: center;
	font-size: 40px;
	color: #7a7a7a;
}

h3 {
	font-size: 37px;
	color: #7a7a7a;
	margin-left: 80px;
}

img { display: block; }

p {
	color: #790000;
	font-size: 30px;
	margin-right: 280px;
}

.team1, .team2 {
	height: 850px;
}

.team1 p { text-align:right; }

#footer {
	height: 205px;
	background-color: #790000;
}

#footer-nav {
	padding-top: 105px;
	font-size: 20px;
}

#social-media {
	float: right;
	display: flex;
	flex-direction: space;
}

#social-media img {
	width: 73px;
	height: 73px;
}








